

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 @font-face {
    font-family: 'Lufga Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lufga Regular'), url('../src/assets/LufgaFont/LufgaRegular.woff') format('woff');
    }

body {
  font-family: 'Lufga Regular', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Navbar estilizada */
.header {
  padding: 1rem 0;
}

.navbar-container {
  background: #111;
  border-radius: 1.9rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
  margin: 0 auto;
}

.nav-section {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-item a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  border-radius: 1rem;
  font-weight: 600;
  transition: background 0.3s;
}

.nav-item a:hover {
  background: rgba(255,255,255,0.1);
  border-radius: 1.5rem;
}

.nav-item.active a {
  background: #ff6600;
  border-radius: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3.5rem;
}

/*footer estilizada */
.footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
}

/*services estilizada */


